<div class="container">
    <div class="head">
        Adrián Gómez Luna
    </div>
    <div class="subHead">
        <p>Developer</p>
        <p>NTT DATA</p>
    </div>
    <div class="datos">
        <table>
            <tr>
                <td>Mail:</td>
                <td>adrigoluna@gmail.com</td>
            </tr>
            <tr>
                <td>Teléfono:</td>
                <td>+34 652 692 661</td>
            </tr>
            <tr>
                <td>Estudios:</td>
                <td>
                    <ul>
                        <ol>I.T. Informática de gestión</ol>
                        <ol>CFGS DAW</ol>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="competencias">
        <div>HTML</div>
        <div>SCSS</div>
        <div>Javascript</div>
        <div>TypeScript</div>
        <div>Angular</div>
        <div>Bootstrap</div>
        <div>Responsive Design</div>
        <div>Accesibilidad</div>
    </div>

</div>

<app-footer></app-footer>