* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.container {
    overflow-y: auto;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    .subHead {
        display: flex;
        justify-content: space-between;
    }
    .datos {
        margin-top: 10px;
        .datos-sub {
            display: grid;
            grid-template-columns: 30% 70%;
            ol {
                list-style-type: lower-roman;
            }
        }
    }
    .competencias {
        margin-top: 10px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        .compe-item {
            padding: 5px;
            margin-bottom: 10px;
            width: 24%;
            border: 2px solid gray;
            box-shadow: 0px 0px 6px 1px #888888;
            text-align: center;
        }
    }
}

@media (max-width: 1024px) {
    .container {
        .competencias {
            .compe-item {
                padding: 5px;
                margin-bottom: 10px;
                width: 350px;
                border: 2px solid gray;
                box-shadow: 0px 0px 6px 1px #888888;
                text-align: center;
            }
        }
    }
}

@media ( max-width: 768px) {
    .container {
        .competencias {
            .compe-item {
                padding: 5px;
                margin-bottom: 10px;
                width: 100%;
                border: 2px solid gray;
                box-shadow: 0px 0px 6px 1px #888888;
                text-align: center;
            }
        }
    }
}