<div class="container">
    <div class="head">
        <h2>
            Adrián Gómez Luna
        </h2>
    </div>
    <div class="subHead">
        <p>Developer</p>
        <p>NTT DATA</p>
    </div>
    <div class="datos">
        <div class="datos-sub">
            <span>Mail:</span>
            <span>adrigoluna@gmail.com</span>
        </div>
        <div class="datos-sub">
            <span>Teléfono:</span>
            <span>+34 652 692 661</span>
        </div>
        <div class="datos-sub">
            <span>Estudios:</span>
            <span>
              <ol>
                <li>I.T. Informática de gestión</li>
                <li>CFGS DAW</li>
              </ol>
            </span>

        </div>
    </div>
    <p>
        Competencias:
    </p>
    <div class="competencias">
        <div *ngFor="let item of competencias" class="compe-item">
            {{ item }}
        </div>
    </div>

</div>

<app-footer></app-footer>