<div class="container">

    <div *ngIf="messagge!=''" class="alerta">
        <ngb-alert> {{ messagge }} </ngb-alert>
    </div>

    <div *ngIf="messagge===''">
        <table class="table table-striped">
            <thead>
                <tr class="cabecera">
                    <td scope="col">ID</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Salario</td>
                    <td scope="col">Edad</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of empleados">
                    <td> {{ item.id }} </td>
                    <td> {{ item.employee_name }} </td>
                    <td> {{ item.employee_salary }} </td>
                    <td> {{ item.employee_age }} </td>
                </tr>
            </tbody>
        </table>
        <div class="foot">
            <div>Bootcamp</div>
            <div>NTT DATA</div>
        </div>
    </div>

</div>

<app-footer></app-footer>